body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #f4f4f4;
}
.hidden {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ffffff;
    padding: 0.75rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links {
    flex: 1;
    display: flex;
    justify-content: end;

}

.nav-links a {
    color: rgb(126, 126, 126);
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
}

.nav-links a:hover {
    color: #333;
}

.logo a {
    color: rgb(0, 0, 0);
    align-items: center;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    gap: 10px ;
    transition: background 0.3s;
}

.logo i {
    font-size: 50px;
}

.bnt-log {
    display: flex;
}

.bnt-log a {
    background-color: #f3f3f3;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s;
}

.bnt-log a:hover {
    background-color: #e7e7e7;
}

.content {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

footer {
    position: sticky;
    bottom: 0;
    z-index: 1000;
    background-color: #ffffff;
    color:rgb(126, 126, 126);
    text-align: center;
    padding: 1rem;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
}

.menu-toggle
{
    display: none;
}

/* Media Queries for responsiveness */

@media (max-width: 768px) {
    .nav-links {
        display: none; /* Cacher les liens de navigation sur mobile */
        width: 100%;
        text-align: center;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
        flex-direction: column; /* Aligner les éléments en colonne sur mobile */
    }

    .nav-links a, .bnt-log a {
        padding: 15px;
        display: block;
        width: 100%; /* Pour que les éléments prennent toute la largeur du menu */
        text-align: center; /* Centrer le texte */
    }

    .menu-toggle {
        display: block;
        color: white;
        font-size: 30px;
    }

    .nav-links.active {
        display: block;
    }
}