body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}
.hidden {
    display: none;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444;
    padding: 0.75rem;
}

.nav-links {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.logo i {
    font-size: 50px;
}

.bnt-log {
    display: flex;
}

.bnt-log a {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s;
}

.bnt-log a:hover {
    background-color: #666;
}

.content {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}
.menu-toggle
{
    display: none;
}

/* Media Queries for responsiveness */

@media (max-width: 768px) {
    .nav-links {
        display: none; /* Cacher les liens de navigation sur mobile */
        width: 100%;
        text-align: center;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
        flex-direction: column; /* Aligner les éléments en colonne sur mobile */
    }

    .nav-links a, .bnt-log a {
        padding: 15px;
        display: block;
        width: 100%; /* Pour que les éléments prennent toute la largeur du menu */
        text-align: center; /* Centrer le texte */
    }

    .menu-toggle {
        display: block;
        color: white;
        font-size: 30px;
    }

    .nav-links.active {
        display: block;
    }
}