.carte {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05);
}

.carteInner {
  padding: 2rem;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  gap: 1rem;
}

.section .info {
  flex: 1;
}


/* Un peu de style pour le texte */
h3 {
  margin: 1.5rem 0 1rem;
  text-align: center;
}


.avatar-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  cursor: pointer; /* rend la zone cliquable */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.avatar-section:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
