.listeTache{
    text-align: left;
    width: 100%;
}

.graphes{
    width: 50vh;
}

.containeur {
    display: flex;
    flex-direction: row;
    height: 60vh;
    gap: 2%;
}

.containeurTask {
    display: flex ;
    flex-direction:column ;
    Text-align: center;
    align-items: center;
    flex:69%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}


input{
    background-color: rgb(221, 221, 221);
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
}

.Btn-form{
    height: 40px;
    width: 120px;
    background-color: #633333;
    color: rgb(206, 196, 196);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.tache-decriptif{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.containeurIner{
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 20px;
}


.containeurHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.containeurHeader form{
    margin-left: 25%;
}



