.containeur {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-height: 50vw;
    gap: 2%;
}

.containeurIner {
    flex: 0 0 48%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.containeurTask {
    background-color: brown;
    /* Supprimé: height: 70000000px */
}

.containeurDiscution {
    background-color: aqua;
    /* Supprimé: height: 70000000px */
}

.chat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message-box {
    height: 30%;
    background-color: bisque;
}

textarea {
    height: 100%;
    width: 100%;
    background-color: yellow; /* test */
    resize: none;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.message-channel {
    height: 70%;
    background-color: black;
    overflow-y: auto;
    padding: 10px;
    color: white;
}
