/* Section */
.features {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px 20px;
}

.features-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 40px;
  color: #2c3e50;
}

/* Feature block */
.feature {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}
.feature-header{
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;
    gap: 10px;
}
.feature:hover {
    transform: translateY(-5px);
}

.feature-icon {
    display: flex;            
    align-items: center;        
    justify-content: center;  
    width: 20%;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.feature-name {
    display: flex;            
    align-items: center;        
    justify-content: start;  
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #2980b9;
}

.feature-desc {
    width: 80%;
    margin: 0 auto 20px auto; 
    text-align: justify;       
    color: #555;
    font-weight: bold;
    line-height: 1.6;          
}

.feature-list {
    width: 80%;
    margin: 0 auto;           
    list-style: none; 
    text-align: justify;       
    color: #444;
    padding-left: 0; 
}

.feature-list li {
    margin-bottom: 10px;
    text-decoration: none;
}


/* Responsive */
@media (min-width: 768px) {
    .features {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px;
     }

    .feature {
        margin-bottom: 0;
    }
}